<!-- ------------footer----------- -->

<div class="footer">
  <div class="container">
      <div class="row">
          <div class="footer-col-1">
              <h3>Download Our App</h3>
              <p>Download App for Android and IOS mobile phone!</p>
              <div class="app-logo">
                  <img src="/assets/images/play-store.png">
                  <img src="/assets/images/app-store.png">
              </div>
          </div>
          <div class="footer-col-2">
              <img src="/assets/images/logo-black.jpg" style="width: 350px; height: 120px;">
              <p>Our aim is to make public fun and confidence accessible to more people</p>
          </div>
          <div class="footer-col-3">
              <h3>Pay Out</h3>
              <ul>
                  <li>VNĐ</li>
                  <li>USD $</li>
                  <li>ATM Card</li>
                  <li>Visa</li>
              </ul>
          </div>
          <div class="footer-col-4">
              <h3>Follow Us</h3>
              <ul>
                  <li><a href="https://www.facebook.com/ThanhPhongNguyen.IT/" target="_blank">Facebook</a></li>
                  <li><a href="https://twitter.com/Account_ntp" target="_blank">Twitter</a></li>
                  <li><a href="https://www.instagram.com/_iamken2000" target="_blank">Instagram</a></li>
                  <li><a href="https://www.youtube.com/channel/UC4lZCSYkx89EAKW2oRFyo8g" target="_blank">Youtube</a></li>
              </ul>
          </div>
      </div>
      <hr>
      <p class="Copyright">© Copyright 2021 - By Thanh Phong</p>
  </div>
</div>
