<div class="small-container">

  <div class="row row-2">
      <h1 class="title">All Product</h1>
  </div>

  <div class="row">
      <div class="col-4" *ngFor="let products of productsAll | paginate: { itemsPerPage: 12, currentPage: p}">
          <img src="/assets/images/imageProduct/{{products.hinhanh}}" (click)="selectProduct(products.masp)">
          <h4 (click)="selectProduct(products.masp)">{{products.tensanpham}}</h4>
          <div class="rating">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star-o"></i>
          </div>
          <p>${{products.dongia}} USD</p>
          <button class="btn-details" (click)="selectProduct(products.masp)">
            <svg width="180px" height="60px" viewBox="0 0 180 60" class="border">
              <polyline points="179,1 179,59 1,59 1,1 179,1" class="bg-line" />
              <polyline points="179,1 179,59 1,59 1,1 179,1" class="hl-line" />
            </svg>
            <span>QUICK VIEW</span>
          </button>
      </div>
  </div>
  <pagination-controls (pageChange)="p= $event" style="text-align: center; width: 30px; height: 30px;"></pagination-controls>
  <!-- <div class="page-btn">
      <span>1</span>
      <span>2</span>
      <span>3</span>
      <span>4</span>
      <span>&#8594;</span>
  </div> -->
</div>
