    <!-- ------------- featured categorries ---------------- -->
    <div class="categories">
      <div class="small-container">
          <div class="row">
              <div class="col-3">
                  <img src="/assets/images/category-1.jpg">
              </div>
              <div class="col-3">
                  <img src="/assets/images/category-2.jpg">
              </div>
              <div class="col-3">
                  <img src="/assets/images/category-3.jpg">
              </div>

          </div>
      </div>

  </div>
  <!-- ------------- featured products ---------------- -->
  <div class="small-container">
      <h1 class="title">All Topics</h1>
      <div class="row">
          <div class="col-4" *ngFor="let p of productOT">
              <a href="products/loaisp/{{p.tenloaisp}}"><img src="/assets/images/{{p.hinhlsp}}"></a>
              <a href="products/loaisp/{{p.tenloaisp}}"><h4>{{p.tenloaisp}}</h4></a>
              <div class="rating">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star-o"></i>
              </div>
          </div>
      </div>
  </div>
  <!-- ------------ offer -------------- -->
  <div class="offer">
      <div class="small-container">
          <div class="row">
              <div class="col-2"><img src="/assets/images/bgproduct2.png" class="offer-img"> </div>
              <div class="col-2">
                  <p>Exclusive Availabble on RedStore</p>
                  <h1>AZZARO EAU DE TOILETTE SPRAY FOR MEN BY AZZARO</h1>
                  <small>
                      The Mi Smart Band 4 features a 39.9% larger (than Mi Band 4) AMOLED color full-touch display
                      with
                      adjustable brightness, so everything is clear as can be</small>
                  <a href="" class="btn">Buy Now &#8594;</a>
              </div>
          </div>
      </div>
  </div>
  <!-- ------------ testimonial -------------- -->
  <div class="testimonial">
      <div class="small-container">
        <h1 class="title">Reviewer</h1>
          <div class="row">
              <div class="col-3">
                  <i class="fa fa-qoute-lef"></i>
                  <p>Abilities or he perfectly pretended so strangers be exquisite. Oh to another chamber pleased
                      imagine do in. Went me rank at last loud shot an draw. Excellent so to no sincerity smallness.
                      Removal request delight if on he we</p>
                  <div class="rating">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star-o"></i>
                      <i class="fa fa-star-o"></i>
                  </div>
                  <img src="/assets/images/user-1.png">
                  <h3>Thanh Tú</h3>
              </div>
              <div class="col-3">
                  <i class="fa fa-qoute-lef"></i>
                  <p>Abilities or he perfectly pretended so strangers be exquisite. Oh to another chamber pleased
                      imagine do in. Went me rank at last loud shot an draw. Excellent so to no sincerity smallness.
                      Removal request delight if on he we</p>
                  <div class="rating">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star-o"></i>
                  </div>
                  <img src="/assets/images/user-2.png">
                  <h3>Thanh Long</h3>
              </div>
              <div class="col-3">
                  <i class="fa fa-qoute-lef"></i>
                  <p>Abilities or he perfectly pretended so strangers be exquisite. Oh to another chamber pleased
                      imagine do in. Went me rank at last loud shot an draw. Excellent so to no sincerity smallness.
                      Removal request delight if on he we</p>
                  <div class="rating">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                  </div>
                  <img src="/assets/images/user-3.png">
                  <h3>Thanh Phong</h3>
              </div>
          </div>
      </div>
  </div>
  <!-- ------------------- brands --------------------- -->
  <div class="brands">
      <div class="small-container">
        <h1 class="title">Sponsors</h1>
          <div class="row">
              <div class="col-5">
                  <img src="/assets/images/logo-godrej.png">
              </div>
              <div class="col-5">
                  <img src="/assets/images/logo-oppo.png">
              </div>
              <div class="col-5">
                  <img src="/assets/images/logo-coca-cola.png">
              </div>
              <div class="col-5">
                  <img src="/assets/images/logo-paypal.png">
              </div>
              <div class="col-5">
                  <img src="/assets/images/logo-philips.png">
              </div>
          </div>
      </div>
  </div>
